{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "node"
  ],
  "rules": {
    "strict": ["error", "global"],
    "node/no-missing-require": ["error"]
  }
}
